<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,800&display=swap&subset=cyrillic-ext" rel="stylesheet" />
    <link rel="stylesheet" href="./components/Style.css">
  </head>
  <body>
    <div class="container">
      <%- include('Header') %> 
      <div class="content">
        <h1>Hello <%= name %>,</h1>
        <p>
          I would like to introduce you to a new task for you to complete.
          <br />
          Your Mission is: <%= subject %>
          <br />
          Mission description:
          <br />
          <%= description %>
          <br />
          Assignment submission date: <%= date %>
          <br /><br />
          I trust you to carry out the task in the best possible way If you have any questions or need help, I'm always here to help you!
          <br /><br />
          Best regards,
          <br />
          <%= managerName %>.
          <br /><br />
        </p>
      </div>
      <%- include('Footer') %>
    </div>
  </body>
</html>
